<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profil-header">
    <ion-avatar id="myAvatar">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <h2>Bu Marni</h2>
    <p>Pemilik Toko Makmur Jaya</p>
  </div>
  
  <ion-list>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>marni@tokomakmur.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>081234567890</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Jl. Merdeka No. 45</ion-label>
    </ion-item>
  </ion-list>
</ion-content>



