<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/detail-produk/' + productId"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <ion-item>
      <ion-label position="floating">Nama Produk <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
      Nama wajib diisi.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Harga Beli <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="buyPrice" type="number"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="productForm.get('buyPrice')?.invalid && productForm.get('buyPrice')?.touched">
      Harga beli harus berupa angka > 0.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Harga Jual <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="sellPrice" type="number"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="productForm.get('sellPrice')?.invalid && productForm.get('sellPrice')?.touched">
      Harga jual harus berupa angka > 0.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Stok <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="stock" type="number"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
      {{ productForm.get('stock')?.hasError('required') ? 'Stok wajib diisi.' : 'Stok harus bilangan bulat dan tidak boleh negatif.' }}
    </ion-note>

    <ion-item>
      <ion-label position="floating">Kategori</ion-label>
      <ion-input formControlName="category" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL Gambar</ion-label>
      <ion-input formControlName="imageUrl" type="url" placeholder="https://picsum..."></ion-input>
    </ion-item>

    <ion-item *ngIf="productForm.get('imageUrl')?.value">
      <ion-img [src]="productForm.get('imageUrl')?.value"></ion-img>
    </ion-item>

    <ion-button expand="block" type="submit" color="success">Update Produk</ion-button>
  </form>
</ion-content>