ion-item {
  margin-bottom: 8px;
  border: 1px solid var(--ion-color-step-150, #dddddd);
  border-radius: 10px;
}

ion-note {
  display: block;
  margin: 4px 12px 12px;
}

ion-button {
  margin-top: 20px;
}