<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Keranjang Belanja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item>
        <ion-label>
          <h2>{{ item.product.name }}</h2>
          <p>{{ item.quantity }} x Rp {{ item.product.sellPrice | number }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">Rp {{ (item.quantity * item.product.sellPrice) | number }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeItem(item.product.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ng-template #emptyCart>
    <div style="text-align: center; margin-top: 50px; color: gray;">
      <ion-icon name="cart-outline" style="font-size: 64px;"></ion-icon>
      <h2>Keranjang masih kosong</h2>
    </div>
  </ng-template>

  <div *ngIf="cartItems.length > 0" style="margin-top: 20px;">
    <ion-card>
      <ion-card-content>
        <h2 style="font-weight: bold; display: flex; justify-content: space-between;">
          <span>Total:</span>
          <span>Rp {{ totalPrice | number }}</span>
        </h2>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="success" (click)="checkout()">Konfirmasi Transaksi</ion-button>
  </div>
</ion-content>
